* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-size: 15px;
    font-family: 'Cardo', serif;
}

/* REUSEABLE CODE */
ul {
    padding-left: 30px;
    margin-bottom: 20px;
}

li {
    font-weight: 300;
}

header {
    padding-top: 50px;
}

.row {
    width: 600px;
    margin: auto;
}

a {
    font-weight: 400;
}

h1 {
    margin-bottom: 40px;
    font-size: 250%;
    font-weight: 100;
}

h2 {
    margin-bottom: 10px;
    font-size: 120%;
    font-size: 400;
}

h3 {
    margin-bottom: 0;
}

p {
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 145%;
    width: 600px;
}

/* HEADER */
.hero {
    letter-spacing: 1%;
    word-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.social-media a {
    display: block;
}