@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/*------- BASIC SETUP -------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color var(--transition-delay), color var(--transition-delay), opacity var(--transition-delay);
}

body {
  font-family: var(--font-family);
  font-size: 16px;
}

:root {
  --font-family: "Poppins", "Inter", serif;
  --color-white: #fafafa;
  --color-primary: #9b59b6;
  --color-primary-dark: #8e44ad;
  --color-grey: rgb(220, 220, 220);
  --color-black: #222831;
  --font-light: 300;
  --font-regular: 400;
  --font-bold: 700;
  --border-radius: 8px;
  --line-width: 1px;
  --transition-delay: 0.2s;
}

/*------- REUSEABLE COMPONENTS -------*/
button {
  text-transform: capitalize;
}

header {
  padding: 50px 0;
}

section {
  padding: 50px 0;
}

ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: var(--color-black);
}
a:hover {
  color: var(--color-primary-dark);
}

p {
  color: var(--color-black);
  font-weight: var(--font-regular);
  line-height: 200%;
  margin-bottom: 50px;
}

/*------- HEADINGS -------*/
h2 {
  color: var(--color-black);
  font-weight: var(--font-regular);
  font-size: 300%;
  text-transform: capitalize;
  margin-bottom: 30px;
}

h3 {
  color: var(--color-black);
  font-weight: var(--font-regular);
  font-size: 200%;
  text-transform: capitalize;
  margin-bottom: 30px;
}

h4 {
  color: var(--color-black);
  font-weight: var(--font-bold);
  font-size: 100%;
  text-transform: capitalize;
}

/*------- BUTTONS -------*/
.btn-base {
  padding: 10px 30px;
  font-weight: var(--font-regular);
  border-radius: var(--border-radius);
}
.btn-base:hover {
  background-color: var(--color-primary-dark);
}

.btn-full {
  background-color: var(--color-primary);
  color: var(--color-white);
  margin-right: 15px;
}

.btn-ghost {
  border: var(--line-width) solid var(--color-primary);
  color: var(--color-primary);
}
.btn-ghost:hover {
  border: var(--line-width) solid var(--color-primary-dark);
  color: var(--color-white);
}

/*------- MAIN NAVIGATOR -------*/
nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-container .nav-logo {
  font-family: "Sacramento", cursive;
  font-size: 500%;
}
nav .nav-container .nav-ul li {
  padding: 0 20px;
}
nav .nav-container .nav-ul li a {
  text-transform: uppercase;
}

/*------- HEADER -------*/
header {
  height: 100vh;
  background-color: var(--color-white);
}
header .header-container {
  padding: 100px 0;
}
header .header-container .header-name {
  margin-bottom: 50px;
  font-size: 500%;
  line-height: 100%;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-transform: capitalize;
  color: var(--color-black);
}
header .header-container .header-about a {
  text-decoration: underline;
}
header .header-container .header-analytics {
  padding-top: 50px;
}
header .header-container .header-analytics .header-analytic {
  margin-right: 50px;
}
header .header-container .header-analytics .header-analytic .header-analytic-total {
  font-size: 200%;
  color: var(--color-black);
}
header .header-container .header-analytics .header-analytic .header-analytic-type {
  display: block;
  color: var(--color-black);
}
header .header-container .header-profile_picture {
  margin: 0 auto;
  padding: 10px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

/*------- SERVICES -------*/
.section-services {
  background-color: #fff;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
}
.services-container .services-service {
  margin-bottom: 15px;
  padding: 30px;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
}
.services-container .services-service .services-service-icon {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  color: var(--color-primary);
  width: 64px;
  height: 64px;
}
.services-container .services-service .services-service-name {
  color: var(--color-black);
}
.services-container .services-service .services-service-projects {
  color: var(--color-black);
}
.services-container .services-skills {
  row-gap: 25px;
  padding-left: 50px;
  position: relative;
}
.services-container .services-skills::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  width: 2px;
  height: 50%;
  transform: translate(-100%, -50%);
  background: var(--color-primary);
}
.services-container .services-skills span {
  position: relative;
}
.services-container .services-skills span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  width: 5px;
  height: 5px;
  transform: translate(-100%, -50%);
  background: var(--color-primary);
  color: var(--color-primary);
  opacity: 0.9;
}

/*------- PORTFOLIO -------*/
.section-portfolio {
  background-color: var(--color-white);
}

.portfolio-project {
  position: relative;
  overflow: hidden;
  background-color: #000;
  border-radius: var(--border-radius);
}

.portfolio-project-img,
.portfolio-project-background {
  width: 100%;
  height: 100%;
}

.portfolio-project-background,
.portfolio-project-text {
  position: absolute;
  opacity: 0;
}

.portfolio-project-background {
  top: 0;
  left: 0;
  background-color: #000;
}

.portfolio-project-text {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: white;
  font-size: 120%;
  font-weight: var(--font-bold);
  text-align: center;
  width: 100%;
}

.portfolio-project:hover .portfolio-project-background {
  opacity: 0.5;
}

.portfolio-project:hover .portfolio-project-text {
  opacity: 1;
}/*# sourceMappingURL=styles.css.map */