/*------- BASIC SETUP -------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
button {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

:root {
  --color-red: #e74c3c;
  --color-red-dark: #c0392b;

  --color-primary: #ffffff;
  --color-primary-dark: #f6f8f8;

  --color-grey: #aaa;

  --color-black: #141c24;
  --color-black-light: #89a4be;

  --color-shadow: rgba(0, 0, 0, 0.05);

  --transition: 0.2s;

  --font-light: 300;
  --font-regular: 400;
  --font-bold: 600;

  --border-radius: 12px;
  --line-width: 1px;
}

.light-mode {
  --color-red: #e74c3c;
  --color-red-dark: #c0392b;

  --color-primary: #141c24;
  --color-primary-dark: #1a242f;

  --color-grey: #aaa;

  --color-black: #ffffff;
  --color-black-light: #f6f8f8;

  --color-shadow: rgba(255, 255, 255, 0.05);
}

/*------- REUSEABLE COMPONENTS -------*/
section,
footer {
  padding: 50px;
}

ul {
  list-style: none;
}

.icon {
  width: 32px;
  height: 32px;
  vertical-align: top;
}

/*------- FORM -------*/
input[type=text],
textarea {
  font-weight: var(--font-light);
  width: 100%;
  padding: 20px 25px;
  margin-bottom: 15px;
  outline: none;
  box-shadow: 0 0 0 1pt #ecf0f1;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-primary-dark);
  resize: vertical;
  transition: box-shadow var(--transition);
}

input[type=text]:focus,
textarea:focus {
  box-shadow: 0 0 0 2pt cornflowerblue;
}

textarea {
  padding: 20px 25px;
  min-height: 150px;
}

/*------- BUTTONS -------*/
.btn-base {
  display: inline-block;
  text-decoration: none;
  font-weight: var(--font-light);
  padding: 10px 30px;
  border-radius: var(--border-radius);
  transition: background-color var(--transition), border var(--transition), color var(--transition);
}

.btn-full {
  background-color: var(--color-red);
  border: var(--line-width) solid var(--color-red);
  color: #fff;
  margin-right: 15px;
}

.btn-ghost {
  border: var(--line-width) solid var(--color-red);
  color: var(--color-red);
}

.btn-base:hover {
  background-color: var(--color-red-dark);
}

.btn-full:hover {
  border: var(--line-width) solid var(--color-red-dark);
}

.btn-ghost:hover {
  border: var(--line-width) solid var(--color-red-dark);
  color: #fff;
}

/*------- PARAPHRAPHS -------*/
p {
  color: var(--color-black);
  margin-bottom: 50px;
  font-weight: var(--font-light);
  line-height: 150%;
}

/*------- HEADINGS -------*/
h1,
h2,
h3,
h4,
h5 {
  color: var(--color-black);
}

h1,
h4 {
  font-weight: var(--font-light);
  letter-spacing: 1px;
}

h1 {
  word-spacing: 4px;
  text-transform: capitalize;
  line-height: 100%;
}

h1 {
  margin-bottom: 50px;
  font-size: 500%;
}

h2 {
  margin-bottom: 50px;
  font-size: 200%;
  font-weight: var(--font-light);
}

h3 {
  font-weight: var(--font-regular);
  font-size: 150%;
  margin-bottom: 15px;
}

h4 {
  margin-bottom: 30px;
  font-size: 100%;
  font-weight: var(--font-bold);
  color: var(--color-red);
}

h4::before {
  display: inline-block;
  content: " ";
  background-color: var(--color-red);
  height: 2px;
  width: 50px;
  margin-bottom: 3px;
  margin-right: 15px;
}

/*------- LINKS -------*/
a:link,
a:visited {
  text-decoration: none;
  transition: border-bottom var(--transition), color var(--transition);
}

button {
  border: none;
  background-color: transparent;
  color: var(--color-primary);
  text-align: center;
  text-decoration: none;
  transition: border-bottom var(--transition), color var(--transition);
}

/*------- LOGO -------*/
.logo:link,
.logo:visited {
  font-size: 500%;
  font-family: 'Sacramento', cursive;
  color: var(--color-primary);
}

.logo:hover,
.logo:active {
  color: var(--color-red);
}

/*------- MAIN NAVIGATOR -------*/
.main-nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li button {
  color: var(--color-primary);
  font-weight: var(--font-light);
  padding: 8px 0px;
  font-size: 120%;
  border-bottom: 2px solid transparent;
}

.main-nav li button:hover {
  border-bottom: 2px solid var(--color-red);
}

.theme-btn {
  width: 32px;
  height: 32px;
  background-color: var(--color-black);
  border-radius: 50%;

  float: right;

  FontAwesomeIcon {
    color: var(--color-primary);
  }
}

/*------- HEADER -------*/
header {
  padding: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.header-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-text,
.header-parag {
  color: var(--color-primary);
}

/*------- WHAT I DO -------*/
.section-what-i-do {
  background-color: var(--color-primary);
}

.section-what-i-do span {
  color: var(--color-black);
  display: block;
  margin-bottom: 50px;
  padding-top: 50px;
  font-weight: var(--font-bold);
  font-size: 800%;
  line-height: 100%;
  word-spacing: 4px;
}

/*------- LATEST WORK -------*/
.section-latest-work {
  background-color: var(--color-primary-dark);
}

.latest-work-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;
}

.latest-work {
  position: relative;
  overflow: hidden;
  background-color: #000;
}

.latest-work img,
.latest-work-background {
  width: 100%;
  height: 100%;
}

.latest-work-background,
.latest-work-text {
  position: absolute;
  transition: opacity var(--transition);
  opacity: 0;
}

.latest-work-background {
  top: 0;
  left: 0;
  background-color: #000;
}

.latest-work-text {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: white;
  font-size: 120%;
  font-weight: var(--font-bold);
  text-align: center;
  width: 100%;
}

.latest-work:hover .latest-work-background {
  opacity: .5;
}

.latest-work:hover .latest-work-text {
  opacity: 1;
}

/*------- SKILLS -------*/
.section-skills {
  background-color: var(--color-primary);
}

.skills-box {
  p {
    text-align: center;
  }

  .skill {
    padding: 0 50px;
  }

  .skills-title {
    color: var(--color-black);
    font-size: 120%;
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: 30px;
  }

  .skill-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;
  }

  .skill-icon:link,
  .skill-icon:visited {
    font-size: 300%;
    color: var(--color-red);
    transition: color var(--transition);
  }

  .skill-icon:hover,
  .skill-icon:active {
    color: var(--color-red-dark);
  }
}

/*------- STATS -------*/
.section-stats {
  background-color: var(--color-primary-dark);
}

.stats-box .prgrs-bars .prgrs-bar {
  .prgrs-title {
    font-weight: var(--font-bold);
    margin: 0;
  }

  .prgrs-container {
    display: flex;
    align-items: center;

    p {
      width: 24px;
    }

    .prgrs-text {
      font-weight: var(--font-regular);
      color: var(--color-grey);
      margin: 0;
    }
  }
}

/*------- TIMELINE -------*/
.section-timeline {
  background-color: var(--color-primary);
}

.timeline-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;

  .timeline-item {
    position: relative;
    padding-left: 3rem;
    border-left: 1px solid var(--color-black-light);

    .timeline-icon {
      position: absolute;
      left: -25px;
      top: 0;
      background-color: var(--color-black-light);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;

      ion-icon {
        color: var(--color-primary);
      }
    }

    .timeline-duration {
      margin: 0 0 20px 0;
      display: inline-block;
      background-color: var(--color-black);
      color: var(--color-primary);
      font-size: .8rem;
      font-weight: var(--font-bold);
      padding: 4px 12px;
      border-radius: 15px;
      text-transform: uppercase;
    }

    .timeline-title {
      margin: 0 0 20px 0;
      font-size: 105%;
      font-weight: var(--font-bold);
      text-transform: uppercase;

      span {
        color: var(--color-grey);
        font-size: 95%;
        font-weight: var(--font-bold);
      }
    }

    .timeline-description {
      white-space: pre-wrap;
      // font-size: 200%;
    }
  }
}

/*------- TESTIMONIALS -------*/
.section-testimonials {
  background-color: var(--color-primary-dark);
}

.testimonials-box {
  overflow: hidden;
  margin-bottom: 15px;

  blockquote {
    color: var(--color-black);
  }
}

.testimonials-wrapper {
  width: 200%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  transition: margin 1s;
}

.testimonial {
  width: 33.33%;
  padding: 0 15px 0 15px;

  i {
    font-size: 120%;
    margin-bottom: 15px;
    color: var(--color-black);
  }

  blockquote {
    font-style: italic;
    font-weight: var(--font-light);
  }

  cite {
    display: block;
    margin-top: 20px;
  }
}

.testimonial cite:before {
  content: '\2014 \0020';
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators button {
  background: var(--color-primary);
  border: none;
  outline: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid var(--color-red);
  margin-left: 10px;
  transition: background var(--transition), border-radius var(--transition), width var(--transition);
}

button.active {
  width: 24px;
  border-radius: 50px;
  background: var(--color-red)
}

/*------- CONTACT US -------*/
.section-contact-me {
  background-color: var(--color-primary);
}

.contact-me-box {
  display: flex;
}

.contact-me-box-child {
  width: 50%;
  padding: 20px;
}

.contact-me-container {
  border-radius: var(--border-radius);
}

.contact-me-box-feild {
  position: relative;
}

.contact-me-box-feild-icon {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 100%;
  padding-bottom: 15px;
  top: 0;
  right: 10px;
  color: var(--color-black);
}

.contact-me-box-feild-icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  opacity: 1;
}

/*------- FOOTER -------*/
footer {
  background-color: var(--color-black);
}

footer p {
  margin: 0;
  color: var(--color-primary);
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media li {
  display: inline-block;
  margin-left: 20px;
}

.social-media a:link,
.social-media a:visited {
  font-size: 180%;
  color: var(--color-primary);
}

.social-media a:hover,
.social-media a:active {
  color: var(--color-red);
}

.social-media img:link,
.social-media img:visited {
  transition: filter var(--transition);
  filter: invert(100%) sepia(38%) saturate(0%) hue-rotate(94deg) brightness(109%) contrast(101%);
}

.social-media img:hover,
.social-media img:active {
  filter: invert(34%) sepia(70%) saturate(2337%) hue-rotate(342deg) brightness(97%) contrast(86%);
}


/*------- BLOG -------*/
.section-blog {
  background-color: var(--color-primary-dark);
}

.blog-box {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 15px;
  row-gap: 15px;
}

.blog {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}

.blog:hover .blog-info {
  opacity: 1;
  transform: translate(0, 0);
}

.blog-info {
  /* div */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  /* format */
  display: flex;
  justify-content: center;
  align-items: center;

  /* style */
  background-color: var(--color-red);
  transform: translate(0, 20%);
  opacity: 0;
  transition: opacity var(--transition), transform var(--transition);
}

.blog-info h1,
.blog-info h2 {
  letter-spacing: 0;
  word-spacing: 0;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 100%;
}

.blog-info h1 {
  font-weight: var(--font-bold);
}

.blog-info h2 {
  font-weight: var(--font-regular);
}