/*------- BASIC SETUP -------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
input,
textarea {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

:root {
  --color-red: #e74c3c;
  --color-red-dark: #c0392b;
  --color-primary: #ffffff;
  --color-primary-dark: #f6f8f8;
  --color-grey: #aaa;
  --color-black: #141c24;
  --color-black-light: #89a4be;
  --color-shadow: rgba(0, 0, 0, 0.05);
  --transition: 0.2s;
  --font-light: 300;
  --font-regular: 400;
  --font-bold: 600;
  --border-radius: 12px;
  --line-width: 1px;
}

/*------- REUSEABLE COMPONENTS -------*/
.row {
  width: 1140px;
  margin: 0 auto;
}

section,
footer {
  padding: 50px;
}

ul {
  list-style: none;
}

.icon {
  width: 32px;
  height: 32px;
  vertical-align: top;
}

/*------- FORM -------*/
input[type=text],
textarea {
  font-weight: var(--font-light);
  width: 100%;
  padding: 20px 25px;
  margin-bottom: 15px;
  outline: none;
  -webkit-box-shadow: 0 0 0 1pt #ecf0f1;
          box-shadow: 0 0 0 1pt #ecf0f1;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-primary-dark);
  resize: vertical;
  -webkit-transition: -webkit-box-shadow var(--transition);
  transition: -webkit-box-shadow var(--transition);
  transition: box-shadow var(--transition);
  transition: box-shadow var(--transition), -webkit-box-shadow var(--transition);
}

input[type=text]:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 0 2pt cornflowerblue;
          box-shadow: 0 0 0 2pt cornflowerblue;
}

textarea {
  padding: 20px 25px;
  min-height: 150px;
}

/*------- BUTTONS -------*/
.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  text-decoration: none;
  font-weight: var(--font-light);
  padding: 10px 30px;
  border-radius: var(--border-radius);
  -webkit-transition: background-color var(--transition), border var(--transition), color var(--transition);
  transition: background-color var(--transition), border var(--transition), color var(--transition);
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: var(--color-red);
  border: var(--line-width) solid var(--color-red);
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: var(--line-width) solid var(--color-red);
  color: var(--color-red);
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: var(--color-red-dark);
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
  border: var(--line-width) solid var(--color-red-dark);
}

.btn-ghost:hover,
.btn-ghost:active {
  border: var(--line-width) solid var(--color-red-dark);
  color: #fff;
}

/*------- PARAPHRAPHS -------*/
p {
  margin-bottom: 50px;
  font-weight: var(--font-light);
  line-height: 150%;
}

/*------- HEADINGS -------*/
h1,
h4 {
  font-weight: var(--font-light);
  letter-spacing: 1px;
}

h1 {
  word-spacing: 4px;
  text-transform: capitalize;
  line-height: 100%;
}

h1 {
  margin-bottom: 50px;
  font-size: 500%;
}

h2 {
  margin-bottom: 50px;
  font-size: 200%;
  font-weight: var(--font-light);
}

h3 {
  font-weight: var(--font-regular);
  font-size: 150%;
  margin-bottom: 15px;
}

h4 {
  margin-bottom: 30px;
  font-size: 100%;
  font-weight: var(--font-bold);
  color: var(--color-red);
}

h4::before {
  display: inline-block;
  content: " ";
  background-color: var(--color-red);
  height: 2px;
  width: 50px;
  margin-bottom: 3px;
  margin-right: 15px;
}

h5 {
  font-size: 120%;
  margin-bottom: 30px;
  text-align: center;
}

/*------- LINKS -------*/
a:link,
a:visited {
  text-decoration: none;
  -webkit-transition: border-bottom var(--transition), color var(--transition);
  transition: border-bottom var(--transition), color var(--transition);
}

/*------- LOGO -------*/
.logo:link,
.logo:visited {
  font-size: 500%;
  font-family: 'Sacramento', cursive;
  color: var(--color-primary);
}

.logo:hover,
.logo:active {
  color: var(--color-red);
}

/*------- MAIN NAVIGATOR -------*/
.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: var(--color-primary);
  font-weight: var(--font-light);
  padding: 8px 0px;
  font-size: 120%;
  border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid var(--color-red);
}

.main-nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*------- HEADER -------*/
header {
  padding: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/bg1.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.header-box {
  width: 1140px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-text,
.header-parag {
  color: var(--color-primary);
}

/*------- WHAT I DO -------*/
.section-what-i-do span {
  display: block;
  margin-bottom: 50px;
  padding-top: 50px;
  font-weight: var(--font-bold);
  font-size: 800%;
  line-height: 100%;
  word-spacing: 4px;
}

/*------- LATEST WORK -------*/
.section-latest-work {
  background-color: var(--color-primary-dark);
}

.latest-work-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
}

.latest-work {
  position: relative;
  overflow: hidden;
  background-color: #000;
}

.latest-work img,
.latest-work-background {
  width: 100%;
  height: 100%;
}

.latest-work-background,
.latest-work-text {
  position: absolute;
  -webkit-transition: opacity var(--transition);
  transition: opacity var(--transition);
  opacity: 0;
}

.latest-work-background {
  top: 0;
  left: 0;
  background-color: #000;
}

.latest-work-text {
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: var(--color-primary);
  font-size: 120%;
  font-weight: var(--font-bold);
  text-align: center;
  width: 100%;
  /* text-transform: uppercase; */
}

.latest-work:hover .latest-work-background {
  opacity: .5;
}

.latest-work:hover .latest-work-text {
  opacity: 1;
}

/*------- SKILLS -------*/
.skills-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

.skills-box p {
  font-weight: var(--font-light);
  text-align: center;
}

.skill div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill {
  padding: 0 50px;
  border-radius: var(--border-radius);
  -webkit-transition: background-color var(--transition), -webkit-box-shadow var(--transition);
  transition: background-color var(--transition), -webkit-box-shadow var(--transition);
  transition: background-color var(--transition), box-shadow var(--transition);
  transition: background-color var(--transition), box-shadow var(--transition), -webkit-box-shadow var(--transition);
}

.skill-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.skill-icon:link,
.skill-icon:visited {
  font-size: 300%;
  color: var(--color-red);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.skill-icon:hover,
.skill-icon:active {
  color: var(--color-red-dark);
}

/*------- STATS -------*/
.section-stats {
  background-color: var(--color-primary-dark);
}

.stats-box .progress-bars {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.stats-box .progress-bars .progress-bar .progress-title {
  font-weight: var(--font-bold);
  margin: 0;
}

.stats-box .progress-bars .progress-bar .progress-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats-box .progress-bars .progress-bar .progress-container .progress-text {
  font-weight: var(--font-regular);
  color: var(--color-grey);
  margin: 0;
}

.stats-box .progress-bars .progress-bar .progress-container .progress {
  background-color: var(--color-grey);
  margin-left: 1rem;
  position: relative;
  width: 100%;
  height: 8px;
}

.stats-box .progress-bars .progress-bar .progress-container .progress span {
  background-color: var(--color-red);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60%;
}

.stats-box .progress-bars .progress-bar .progress-container .progress .unity {
  width: 100%;
}

.stats-box .progress-bars .progress-bar .progress-container .progress .c-sharp {
  width: 100%;
}

.stats-box .progress-bars .progress-bar .progress-container .progress .firebase {
  width: 90%;
}

.stats-box .progress-bars .progress-bar .progress-container .progress .html {
  width: 80%;
}

.stats-box .progress-bars .progress-bar .progress-container .progress .css {
  width: 80%;
}

.stats-box .progress-bars .progress-bar .progress-container .progress .js {
  width: 80%;
}

.stats-box .progress-bars .progress-bar .progress-container .progress .python {
  width: 65%;
}

.stats-box .progress-bars .progress-bar .progress-container .progress .blender {
  width: 60%;
}

/*------- TIMELINE -------*/
.section-timeline {
  background-color: var(--color-primary);
}

.timeline-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.timeline-box .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--color-black-light);
}

.timeline-box .timeline-item .timeline-icon {
  position: absolute;
  left: -25px;
  top: 0;
  background-color: var(--color-black-light);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
}

.timeline-box .timeline-item .timeline-icon ion-icon {
  color: var(--color-primary);
}

.timeline-box .timeline-item .timeline-duration {
  margin: 0 0 20px 0;
  display: inline-block;
  background-color: var(--color-black);
  color: var(--color-primary);
  font-size: .8rem;
  font-weight: var(--font-bold);
  padding: 4px 12px;
  border-radius: 15px;
  text-transform: uppercase;
}

.timeline-box .timeline-item .timeline-title {
  margin: 0 0 20px 0;
  font-size: 105%;
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.timeline-box .timeline-item .timeline-title span {
  color: var(--color-grey);
  font-size: 95%;
  font-weight: var(--font-bold);
}

/*------- TESTIMONIALS -------*/
.section-testimonials {
  background-color: var(--color-primary-dark);
}

.testimonials-box {
  overflow: hidden;
  margin-bottom: 15px;
}

.testimonials-wrapper {
  width: 199.98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: margin 1s;
  transition: margin 1s;
}

.testimonial i {
  font-size: 120%;
  margin-bottom: 15px;
}

.testimonial {
  width: 33.33%;
  padding-right: 25px;
}

.testimonial blockquote {
  font-style: italic;
  font-weight: var(--font-light);
}

.testimonial cite:before {
  content: '\2014 \0020';
}

.testimonial cite {
  display: block;
  margin-top: 20px;
}

.indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.indicators button {
  background: var(--color-primary);
  border: none;
  outline: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid var(--color-red);
  margin-left: 10px;
  -webkit-transition: background var(--transition), border-radius var(--transition), width var(--transition);
  transition: background var(--transition), border-radius var(--transition), width var(--transition);
}

button.active {
  width: 24px;
  border-radius: 50px;
  background: var(--color-red);
}

/*------- CONTACT US -------*/
.section-contact-me {
  background-color: var(--color-primary);
}

.contact-me-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-me-box-child {
  width: 50%;
  padding: 20px;
}

.contact-me-container {
  border-radius: var(--border-radius);
}

.contact-me-box-feild {
  position: relative;
}

.contact-me-box-feild-icon {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 100%;
  padding-bottom: 15px;
  top: 0;
  right: 10px;
  color: var(--color-black);
}

.contact-me-box-feild-icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 63px;
  opacity: 1;
}

/*------- FOOTER -------*/
footer {
  background-color: var(--color-black);
}

footer p {
  margin: 0;
  color: var(--color-primary);
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media li {
  display: inline-block;
  margin-left: 20px;
}

.social-media a:link,
.social-media a:visited {
  font-size: 180%;
  color: var(--color-primary);
}

.social-media a:hover,
.social-media a:active {
  color: var(--color-red);
}

.social-media img:link,
.social-media img:visited {
  -webkit-transition: -webkit-filter var(--transition);
  transition: -webkit-filter var(--transition);
  transition: filter var(--transition);
  transition: filter var(--transition), -webkit-filter var(--transition);
  -webkit-filter: invert(100%) sepia(38%) saturate(0%) hue-rotate(94deg) brightness(109%) contrast(101%);
          filter: invert(100%) sepia(38%) saturate(0%) hue-rotate(94deg) brightness(109%) contrast(101%);
}

.social-media img:hover,
.social-media img:active {
  -webkit-filter: invert(34%) sepia(70%) saturate(2337%) hue-rotate(342deg) brightness(97%) contrast(86%);
          filter: invert(34%) sepia(70%) saturate(2337%) hue-rotate(342deg) brightness(97%) contrast(86%);
}

/*------- BLOG -------*/
.section-blog {
  background-color: var(--color-primary-dark);
}

.blog-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
}

.blog {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}

.blog:hover .blog-info {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.blog-info {
  /* div */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* format */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* style */
  background-color: var(--color-red);
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
  opacity: 0;
  -webkit-transition: opacity var(--transition), -webkit-transform var(--transition);
  transition: opacity var(--transition), -webkit-transform var(--transition);
  transition: opacity var(--transition), transform var(--transition);
  transition: opacity var(--transition), transform var(--transition), -webkit-transform var(--transition);
}

.blog-info h1,
.blog-info h2 {
  letter-spacing: 0;
  word-spacing: 0;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 100%;
}

.blog-info h1 {
  font-weight: var(--font-bold);
}

.blog-info h2 {
  font-weight: var(--font-regular);
}
/*# sourceMappingURL=style.css.map */