@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');    // Material UI

// @import '@ionic/react/css/core.css';

/*------- BASIC SETUP -------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:
        background-color var(--transition-delay),
        color var(--transition-delay),
        opacity var(--transition-delay),
        transform var(--transition-delay),
        filter var(--transition-delay);
}

body,
div {
    font-weight: var(--font-regular);
    font-family: var(--font-family);
    font-size: 15px;
}

:root {
    --font-family: 'Poppins', 'Inter', serif;

    --color-bg: #fafafa;
    --color-bg-border: #e9e9e9;
    // --color-bg-border: #d0d0d0;

    --color-primary: #9b59b6;
    --color-primary-dark: #8e44ad;
    --color-primary-light: #f7f2f9;

    --color-grey: #778085;
    --color-black: #222831;

    --font-light: 200;
    --font-regular: 300;
    --font-bold: 500;
    --font-extraBold: 600;

    --box-shadow: 0 0 5px rgb(220, 220, 220);
    --border-radius: 0.5rem;
    --line-width: 1px;

    --transition-delay: 0.2s;
}

/*------- REUSEABLE COMPONENTS -------*/
button {
    text-transform: capitalize;
    // font-weight: bold;
}

header,
section {
    padding: 50px 30px;
}

ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: var(--color-black);

    &:hover {
        color: var(--color-primary-dark);
    }
}

p {
    color: var(--color-black);
    font-weight: var(--font-regular);
    line-height: 200%;
    margin-bottom: 50px;
}

/*------- HEADINGS -------*/
h2 {
    color: var(--color-primary);

    font-weight: var(--font-extraBold);
    font-size: 100%;
    text-transform: uppercase;

    margin-bottom: 30px;

    &::before {
        display: inline-block;
        content: " ";
        background-color: var(--color-primary);
        height: 2px;
        width: 50px;
        margin-bottom: 3px;
        margin-right: 15px;
    }
}

h3 {
    color: var(--color-black);

    font-weight: var(--font-regular);
    font-size: 200%;
    text-transform: capitalize;

    margin-bottom: 30px;
}

h4 {
    color: var(--color-black);

    font-weight: var(--font-extraBold);
    font-size: 100%;
    text-transform: capitalize;

    // margin-bottom: 5px;
}

/*------- BUTTONS -------*/
.btn-base {
    padding: 10px 30px;
    font-weight: var(--font-regular);
    border-radius: var(--border-radius);

    &:hover {
        background-color: var(--color-primary-dark);
    }
}

.btn-full {
    background-color: var(--color-primary);
    color: var(--color-bg);
    margin-right: 15px;
}

.btn-ghost {
    border: var(--line-width) solid var(--color-primary);
    color: var(--color-primary);

    &:hover {
        border: var(--line-width) solid var(--color-primary-dark);
        color: var(--color-bg);
    }
}

/*------- MAIN NAVIGATOR -------*/
nav {
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-logo {
            font-family: 'Sacramento', cursive;
        }

        .nav-ul li {
            padding: 0 20px;

            button {
                text-transform: uppercase;
                color: var(--color-black);

                &:hover {
                    color: var(--color-primary-dark);
                }
            }
        }
    }
}

/*------- HEADER -------*/
header {
    background-color: var(--color-bg);
    border-bottom: solid 1px var(--color-bg-border);

    .header-container {
        padding: 100px 0 0 0;

        .header-name {
            @apply text-[300%] sm:text-[500%];

            margin-bottom: 50px;
            line-height: 100%;
            color: var(--color-black);
        }

        .header-about a {
            text-decoration: underline;
        }

        .header-analytics {
            padding-top: 50px;

            .header-analytic {
                margin-right: 50px;

                .header-analytic-total {
                    font-size: 200%;
                    color: var(--color-black);
                }

                .header-analytic-type {
                    display: block;
                    color: var(--color-black);
                }
            }
        }

        .header-profile_picture {
            margin: 0 auto;
            padding: 10px;
            // border: solid 2px var(--color-bg-border);
            border-radius: 50%;
            width: 250px;
            height: 250px;
        }
    }
}

/*------- SERVICES -------*/
@media only screen and (max-width: 1039px) {
    .services-container {
        @apply flex flex-col;
    }

    .services-skills {
        @apply grid grid-cols-2;
    }
}

@media only screen and (min-width: 1040px) {
    .services-container {
        grid-template-columns: 1fr 2fr;
        @apply grid gap-[50px];
    }

    .services-skills {
        @apply grid grid-cols-4;
    }
}

.section-services {
    background-color: #fff;
}

.services-container {
    // display: grid;
    // grid-template-columns: 1fr 2fr;
    // gap: 50px;

    .services-service {
        margin-bottom: 15px;
        padding: 30px;

        border-radius: var(--border-radius);
        border: solid 1px var(--color-bg-border);
        background-color: var(--color-bg);

        &:hover {
            border: solid 1px var(--color-primary);
            background-color: var(--color-primary-light);
        }

        .services-service-icon {
            margin-right: 20px;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 300%;
            color: var(--color-primary);

            width: 64px;
            height: 64px;

            font-variation-settings:'FILL' 0,'wght' 300,'GRAD' 0,'opsz' 48;
        }

        .services-service-name {
            color: var(--color-black);
        }

        .services-service-projects {
            color: var(--color-black);
        }
    }

    .services-skills {
        row-gap: 25px;

        padding-left: 50px;

        position: relative;

        &::before {
            display: block;
            content: "";
            position: absolute;

            top: 50%;
            width: 2px;
            height: 50%;

            transform: translate(-100%, -50%);
            background: var(--color-primary);
        }

        span {
            position: relative;

            &::before {
                content: "";
                position: absolute;

                top: 50%;
                left: -5px;
                width: 5px;
                height: 5px;

                transform: translate(-100%, -50%);
                background: var(--color-primary);
                color: var(--color-primary);
                opacity: 0.9;
            }
        }
    }
}

/*------- PORTFOLIO -------*/
.section-portfolio {
    background-color: var(--color-bg);
    border-top: solid 1px var(--color-bg-border);
    border-bottom: solid 1px var(--color-bg-border);
}

.portfolio-project {
    position: relative;
    overflow: hidden;
    background-color: #000;
    border-radius: var(--border-radius);
}

.portfolio-project-img,
.portfolio-project-background {
    width: 100%;
    height: 100%;
}

.portfolio-project-background,
.portfolio-project-text {
    position: absolute;
    opacity: 0;
}

.portfolio-project-background {
    top: 0;
    left: 0;
    background-color: #000;
}

.portfolio-project-text {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: white;
    font-size: 120%;
    font-weight: var(--font-extraBold);
    text-align: center;
    width: 100%;
}

.portfolio-project:hover .portfolio-project-background {
    opacity: .5;
}

.portfolio-project:hover .portfolio-project-text {
    opacity: 1;
}

/*------- OPEN SOURCE -------*/
.section-open_source {
    .open_source-repo {
        padding: 30px;
        background-color: var(--color-bg);
        border-radius: var(--border-radius);
        border: solid 1px var(--color-bg-border);

        .open_source-repo-name {
            text-transform: initial;
        }

        .open_source-repo-des {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: var(--color-grey);
            text-transform: lowercase;
        }

        .material-symbols-outlined {
            margin-right: 5px;
            font-size: 100%;
        }

        &:hover {
            border: solid 1px var(--color-primary);
            background-color: var(--color-primary-light);
            color: inherit;
            
            // transform: scale(1.02);
        }
    }
}

/*------- TIMELINES -------*/
@media only screen and (max-width: 1039px) {
    .section-timelines-grid {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 1040px) {
    .section-timelines-grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
    }
}

.section-timelines {
    background-color: var(--color-bg);
    border-top: solid 1px var(--color-bg-border);
    border-bottom: solid 1px var(--color-bg-border);

    .section-timelines-img {
        height: 100%;
        // width: auto;
        border-radius: var(--border-radius);
    }
}

.section-timelines-timeline {
    ul, li {
        display: block;
    }

    li, p {
        margin-bottom: 10px;
    }

    .section-timelines-timeline-title {
        text-transform: uppercase;
        margin-bottom: 10px;

        .section-timelines-timeline-title-company {
            color: var(--color-grey);
        }
    }

    .section-timelines-timeline-duration {
        color: var(--color-grey);
        text-transform: uppercase;

        margin-bottom: 10px;
    }

    .section-timelines-timeline-des, p {
        white-space: pre-wrap;
        color: var(--color-grey);
    }
}

/*------- CONTACT -------*/
.section-contact {
    // background-color: var(--color-primary-light);

    .section-contact-container {
        .section-contact-p {
            line-height: 1.5;
            white-space: pre-wrap;
        }

        .section-contact-img {
            border-radius: var(--border-radius);
        }
    }
}

/*------- FOOTER -------*/
.section-footer {
    background-color: var(--color-bg);
    border-top: solid 1px var(--color-bg-border);
    padding: 30px;

    .footer-contacts-li-a-icon {
        height: 24px;
        margin-left: 15px;
        filter: invert(10%) sepia(21%) saturate(777%) hue-rotate(176deg) brightness(98%) contrast(86%);

        &:hover {
            filter: invert(44%) sepia(50%) saturate(689%) hue-rotate(238deg) brightness(85%) contrast(83%);
        }
    }

    p {
        margin: 0;
    }
}